.place__image {
  grid-area: image;
  margin: 0;
  padding: 0;
  width: 460px;
  object-fit: contain;
}

@media screen and (min-width: 768px) and (max-width: 984px) {
  .place__image {
    max-width: 340px;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    margin-bottom: 30px;
    max-width: 320px;
  }
}
