.header__logo {
  max-width: 270px;
  max-height: 70px;
  padding: 34px 0 90px;
}
@media screen and (max-width: 544px) {
  .header__logo {
    width: 200px;
    height: 51.85px;
    padding: 20px 0 50px;
  }
}
