.cover__button {
  padding: 13px 20px;
  margin-top: 32px;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .cover__button {
    margin-top: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width:1280px){
  .cover__button {
    width: 137px;
  }
}
