.cover__button {
  align-self: center;
  text-align: center;
  width: 137px;
  margin-top: 32px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 320px) {
  .cover__button {
  margin-top: 16px;
  }
}
