.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 793px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}
@media screen and (max-width: 550px) {
  .lead__title {
    width: 495px;
    font-size: 60px;
  }
}

@media screen and (max-width: 495px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 288px;
  }
}
